<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>


    <button type="button" class="glyphicon glyphicon-plus-sign" id="hhh">ADD</button>   
  

    <div class="card" style="color: rgb(253, 251, 251);" >

    <div class="card-header">

      <h3 class="glyphicon glyphicon-trash" id="ss"> </h3>

    </div>
  <div class="card-body">
    <form>
      <label>NOM</label><br>
      <label type="text"  class="form-control" placeholder="NOM">NOM</label><br>
      <label>PRENOM</label><br>
      <label type="text"  class="form-control" placeholder="PRENOM">25</label><br>
      <label>NOMBRE D'ENFANT</label><br>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="25"><br>
    </form>
  </div>
</div>
  </body>
