<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="aa" style="max-width: 30rem; min-height: 700px ; color: rgb(253, 251, 251);" >
  <div class="card-header">
    <h3 class="glyphicon glyphicon-cog"> CONFUGURATION</h3></div>
  <div class="card-body">
<form>
  <label>NOM</label><br>
  <input type="text" id="disabledTextInput" class="form-control" placeholder="TEST_NON"><br>
  <label>PRENOM</label><br>
  <input type="text" id="disabledTextInput" class="form-control" placeholder="TEST_PRENOM"><br>
  <label>NOMBRE D'ENFANT</label><br>
  <label type="text"  class="form-control" placeholder="25">25</label><br>
</form>
  </div>
</div>
  </body>

